<div class="question-detail">
	{{question-detail question=model.questions delete="delete" update="update" saveAnswer="saveAnswer"}}

	{{answer-detail answers=model.questions.answers deleteAnswer="deleteAnswer" updateAnswer="updateAnswer"}}

</div>
