{{#if updateForm}}
<form>

	<label for="query">edit your question: </label>
	{{input value=query type="text" id="query" placeholder=question.query}}

	<label for="notes">update notes: </label>
	{{input value=notes type="text" id="notes" placeholder=question.notes}}

	<button {{action "update" question}}>Submit</button>
</form>
{{/if}}
<button {{action "toggleUpdate"}}>open/close</button>