{{#if answerQuestion}}
<form class="form-grow">

	<label for="response">Your Answer: </label>
	{{input value=response type="text" id="response"}}

	<label for="author">Your Name:</label>
	{{input value=author type="text" id="author"}}

	<button {{action "saveAnswer"}}>Submit</button>
</form>


{{/if}}
<button {{action "toggleQuestion"}}>open/close</button>
