
{{#if session.isAuthenticated}}
	
{{else}}
{{sign-up signUp="signUp"}}

{{#link-to 'login'}}Log In {{/link-to}}
{{/if}}


<div class="question">
	
	{{#each model.questions as |question|}}
		<div class="question-summary">
			{{#link-to 'question' question.id}}{{question-summary question=question}}{{/link-to}}
		</div>
	{{/each}}
	
</div>
