<div class="learn">
	
<a href="https://try.github.io/levels/1/challenges/1">Learn Basic Git</a>

<a href="http://emberjs.com/">Learn More About Ember JS</a>

<a href="http://sass-lang.com/">Learn More About Sass</a>

<a href="https://nodejs.org/en/about/">Learn More About Node JS</a>

<a href="https://www.learnhowtoprogram.com/intro-to-programming/getting-started-at-epicodus-5e7a5b2c-331f-4dc3-95f1-0418ebbb40ae/learn-how-to-program">Learn Coding Through Epicodus</a>
	
</div>



