<form {{action 'logIn' on='submit'}}>
	
	<label for='email-login'>Email: </label>
	{{input type="email" id="email-login" value=email }}

	<label for='password-login'>Password: </label>
	{{input type="password" id="password-login" value=password }}

	<button type="submit">Submit</button>
</form>
