// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
	background: $bg-header;
	border-radius: $radius;
	box-shadow: -5px 5px 25px rgba($bg-header, .7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: .1em .1em .1em .1em;

	h2, h3, a {
		color: $bg-color;
		width: 60vw;
	}



	nav {
		border: 2px solid $text-color;
		padding: 1em;
		border-radius: $radius;

		a {
			border: 3px solid $text-color;
			padding: .2em;
			border-radius: $radius;
			&:hover {
				color: $bg-color;
			}
		}
	}
}