.question, .question-detail {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2em 0;
}

.question-summary, .answer-detail, .question-layout {
	@include questions($bg-button, 100vw);
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
		.vote, .update-question, .new-answer, .delete, .update-answer {
			width: 20%;
	}
}

.vote, .update-question, .new-answer, .delete, .update-answer {
		border: 1px solid rgba($bg-button, .6);
		button {
		 width: 100%;
		}
}