{{#if askNewQuery}}
<form class="form-grow">

	<label for="query">What would you like to ask?</label>
	{{input value=query type="text" id="query"}}

	<label for="notes">Any additional info or notes for your question?</label>
	{{input value=notes type="text" id="notes"}}

	<button {{action "saveQuestion"}}>Submit</button>
</form>


{{/if}}
<button class="toggle-question" {{action "toggleForm"}}>open/close question form</button>