
<h2>{{model.user.email}}'s Questions and Answers</h2>
{{user-detail user=model.user saveQuestion="saveQuestion" update="update" deleteQuestion="deleteQuestion" deleteUser="deleteUser" upVote="upVote" downVote="downVote"}}

{{log model.myEmail}}
